
\.vs/config/applicationhost\.config

\.vs/ProjetoAdmin/v15/\.suo

ProjetoAdmin/bin/ProjetoAdmin\.dll

ProjetoAdmin/bin/ProjetoAdmin\.pdb

ProjetoAdmin/Controllers/CarroController\.cs

ProjetoAdmin/obj/Debug/CoreCompileInputs\.cache

ProjetoAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

ProjetoAdmin/obj/Debug/ProjetoAdmin\.csproj\.FileListAbsolute\.txt

ProjetoAdmin/obj/Debug/ProjetoAdmin\.dll

ProjetoAdmin/obj/Debug/ProjetoAdmin\.pdb
